* {
  padding: 0;
  margin: 0;
}

.terminal {
  background-color: #0f0f0f;
  color: #00ff7f;
  font-family: 'JetBrains Mono', 'Fira Code', 'monospace';
  padding: 1rem;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  cursor: text;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.input-line {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}

.prompt {
  margin-right: 0.5rem;
}

.cursor {
  width: 10px;
  display: inline-block;
}

.blink {
  opacity: 0;
  transition: opacity 0.2s;
}

.hidden-input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
